<!DOCTYPE html>
{% load static %}

<html>
    <head>
    	<title>JS Travel Points</title>
    	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/style.css' %}">
        <!-- <script type="text/javascript" src="{% static 'routeyourfood/js/jquery-1.9.0.js' %}"></script> -->
        <script type="text/javascript" src="{% static 'routeyourfood/js/detailsscript.js' %}" async defer></script>
        </script>
    </head>
    <body onload="script()">

        <div class="container">
            <div class="row">
                <select>
                <option selected="selected">Sort:</option>
                <option id='rating-asc'>Rating - Low to High</option>
                <option id='rating-desc'>Rating - High to Low</option>
                <option id='name-asc'>Name - Ascending</option>
                <option id='name-desc'>Name - Descending</option>
                <option id='price-asc'>Price - Low to High</option>
                <option id='price-desc'>Price - High to Low</option>
            </select>
            </div>
        </div>
        
        <div class="container" id=main>
            
        </div>
        
    </body>
</html>