<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>JS Travel Points</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/style.css' %}">
    <script type="text/javascript" src="{% static 'routeyourfood/js/jquery-1.9.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'routeyourfood/js/routeboxer.js' %}"></script>
    <script type="text/javascript" src="{% static 'routeyourfood/js/script.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIeaoqxd3NoRAEgDlUOjN6QCulaw7N4aA&libraries=places&callback=initMap"
        async defer></script>
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<label>Source : </label>
				<input type="text" name="source" id="source">
			</div>
			<div class="col-md-6">
				<label>Destination :</label>
				<input type="text" name="destination" id="destination">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div id="map-source"></div>
				<div id="infowindow-content-source">
					<img src="" width="16" height="16" id="place-icon">
					<span id="place-name"  class="title"></span><br>
					<span id="place-address"></span>
		    	</div>
			</div>
			<div class="col-md-6">
				<div id="map-destination"></div>
				<div id="infowindow-content-destination">
					<img src="" width="16" height="16" id="place-icon">
					<span id="place-name"  class="title"></span><br>
					<span id="place-address"></span>
    			</div>
			</div>
		</div>
		<input type="text" name="distance" id="distance">
		<button id="show-route">Show route</button>

		<div class="row">
			<div id="directions-map"></div>
			<div id="infowindow-content-directions">
				<img src="" width="16" height="16" id="place-icon">
				<span id="place-name"  class="title"></span><br>
				<span id="place-address"></span>
    		</div>
		</div>

		<div id="panel"></div>
		<button id="get-details">Get details</button>
		<button id="show-names">Show names</button>
		<div class="sk-folding-cube" style="display: none">
		  	<div class="sk-cube1 sk-cube"></div>
		  	<div class="sk-cube2 sk-cube"></div>
		  	<div class="sk-cube4 sk-cube"></div>
		  	<div class="sk-cube3 sk-cube"></div>
		</div>	
		<div id="zomato-restaurants"></div>
	</div>
</body>
</html>