<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}

<html>
<head>
	<title>JS Travel Points</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/style.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIeaoqxd3NoRAEgDlUOjN6QCulaw7N4aA&libraries=places"></script>

</head>
<body>
	<div class="container">

		<div class="row" id='test'>
			<!-- <div class="col-md-6"  id="source-half"> -->
				
			<!-- </div> -->
			<!-- <div class="col-md-6"  id="destination-half"> -->
				
			<!-- </div> -->
			<!-- <div class="col-md-6 destination-half">
				<div id="map-destination"></div>
				<div id="infowindow-content-destination">
					<img src="" width="16" height="16" id="place-icon">
					<span id="place-name"  class="title"></span><br>
					<span id="place-address"></span>
    			</div>
			</div> -->
		</div>
		
			
		</div>
		<div id="panel"></div>
		

		<div class="row">
			<div id="directions-map"></div>
			<div id="infowindow-content-directions">
				<img src="" width="16" height="16" id="place-icon">
				<span id="place-name"  class="title"></span><br>
				<span id="place-address"></span>
    		</div>
		</div>

		<div id="panel"></div>
		<!-- <button id="get-details">Get details</button>
		<button id="show-names">Show names</button>
		<div class="sk-folding-cube" style="display: none">
		  	<div class="sk-cube1 sk-cube"></div>
		  	<div class="sk-cube2 sk-cube"></div>
		  	<div class="sk-cube4 sk-cube"></div>
		  	<div class="sk-cube3 sk-cube"></div>
		</div>	
		<div id="zomato-restaurants"></div>
		<a id='details' class='btn btn-default disabled'>Go to Details Page</a> -->
	</div>
	{% render_bundle 'indexPage' %}
</body>
</html>