<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
{% load static %}

<html>
<head>
	<title>JS Travel Points</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/style.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIeaoqxd3NoRAEgDlUOjN6QCulaw7N4aA&libraries=places"></script>

</head>
<body>
	<div class="container" style='margin-top: 5%'>

		<div class="row" id='test'></div>

		<div class="row" style='display: none' id='directions-map-row'>
			<div id="directions-map"></div>
			<div id="infowindow-content-directions">
				<img src="" width="16" height="16" id="place-icon" style="display: none">
				<span id="place-name"  class="title"></span><br>
				<span id="place-address"></span>
    		</div>
    		<footer id='footer'>
	    		<p>Click on any of the markers to get their address, or click on the button below to get a sorted list of these restaurants, along with their details.</p>
	    		<a class="btn btn-primary" href="{% url 'detailspage' page=1 order='default' %}">Go to Details Page</a>
    		</footer>
		</div>

	</div>
	{% render_bundle 'indexPage' %}
</body>
</html>