<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
{% load static %}

<html>
<head>
	<title>JS Travel Points</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'routeyourfood/css/style.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIeaoqxd3NoRAEgDlUOjN6QCulaw7N4aA&libraries=places"></script>

</head>
<body>
	<div class="container">

		<div class="row" id='test'></div>

		<div class="row">
			<div id="directions-map"></div>
			<div id="infowindow-content-directions">
				<img src="" width="16" height="16" id="place-icon">
				<span id="place-name"  class="title"></span><br>
				<span id="place-address"></span>
    		</div>
		</div>

	</div>
	{% render_bundle 'indexPage' %}
</body>
</html>